################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/.vs
/.env
/.venv/
*.md
Docker构建.md
错误日志.md
/__pycache__/

data/*
